/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

:root {
  --vader-red: #ed2225;
  --credit-yellow: #faea18;
  --hyperspace-light-blue: #54a7d9;
  --r2d2-blue: #2a3182;
  --space-black: #141318;
  --space-black-lite: #141318cc;
  --color-alderaan: radial-gradient(circle at center, white, transparent, transparent);
  --color-bespin: linear-gradient(to top left, #87CEEB, #FFA07A);
  --color-coruscant: linear-gradient(to top left, #1E90FF, #708090);
  --color-dagobah: linear-gradient(to top left, #228B22, #8A9A5B);
  --color-endor: linear-gradient(to top left, #0B6623, #8B4513);
  --color-hoth: linear-gradient(to top left, #AFEEEE, #FFFFFF);
  --color-tatooine: linear-gradient(to top left, var(--vader-red), var(--credit-yellow));
  --color-yavin: linear-gradient(to top left, #29AB87, #8B8B7A);
}

html {
  height: 100%;
  background-color: var(--space-black);
  overflow-y: scroll;
  overflow-x: hidden;
}

.test {
  background: linear-gradient(to top left, var(--vader-red), var(--credit-yellow));
}

/* @font-face {
  font-family: 'star_jedi_outlineregular';
  src:
    url('/fonts/starjout-webfont.woff2') format('woff2'),
    url('/fonts/starjout-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'star_jediregular';
  src:
    url('/fonts/starjedi-webfont.woff2') format('woff2'),
    url('/fonts/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url('');
  font-weight: 900;
}

@font-face {
  font-family: 'star_jedi_hollowregular';
  src:
    url('/fonts/starjhol-webfont.woff2') format('woff2'),
    url('/fonts/starjhol-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400&display=swap');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'News Cycle', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');
  font-weight: 700;
  font-style: normal;
} */

body {
  background-color: var(--space-black);
  margin: 0;
  /* overflow-y: hidden; */
  /* background: no-repeat center repeating-conic-gradient(from 0deg, var(--hyperspace-light-blue) 0deg 1deg, var(--space-black) 1deg 4deg); */
}

p {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 2em;
}

div,
p {
  font-family: 'News Cycle', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

header {
  display: flex;
  flex-direction: column;
  top: 0;
  position: sticky;
  z-index: 2;
}

footer {
  text-align: center;
}

input,
label,
button {
  font-size: 1.25rem;
}

button[type='submit'] {
  border: solid 2px var(--credit-yellow);
  background-color: var(--credit-yellow);
  color: var(--space-black);
  /* background-color: var(--space-black);
  color: var(--credit-yellow); */
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}

button[type='submit']:hover {
  /* background-color: var(--credit-yellow);
  color: var(--space-black); */
  background-color: var(--space-black);
  color: var(--credit-yellow);
}

button[type='submit']:active {
  background-color: var(--r2d2-blue);
  color: var(--credit-yellow);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--star-coords);
  animation: starScroll 150s linear infinite;
  /* z-index: -100; */
}

#stars:after {
  content: ' ';
  position: absolute;
  top: 500px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--star-coords);
  /* z-index: -101; */
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: var(--star-coords2);
  animation: starScroll 100s linear infinite;
  /* z-index: -50; */
}

#stars2:after {
  content: ' ';
  position: absolute;
  top: 500px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: var(--star-coords2);
  /* z-index: -51; */
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: var(--star-coords3);
  animation: starScroll 50s linear infinite;
  /* z-index: -10; */
}

#stars3:after {
  content: ' ';
  position: absolute;
  top: 500px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: var(--star-coords3);
  /* z-index: -11; */
}

#footer-planet {
  background: linear-gradient(
    to top left,
    var(--vader-red),
    var(--credit-yellow)
  );
  border-radius: 100% 100% 0 0;
  width: 100vw;
  height: 100px;
  position: relative;
  bottom: 0;
}

.site-title {
  font-family: 'star_jedi_hollowregular';
  font-size: 3rem;
  line-height: 2.5rem;
  color: var(--credit-yellow);
  margin-bottom: 1rem;
  cursor: pointer;
}

.header-area {
  display: flex;
  flex-direction: row;
  background-color: var(--space-black-lite);
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}

.header-menu {
  display: block;
  height: 0;
  opacity: 0;
  z-index: 1;
}

.menu-open {
  height: auto;
  opacity: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  color: var(--credit-yellow);
  padding: 0.5rem;
  background-color: var(--space-black);
  border: solid 1px var(--credit-yellow);
  cursor: pointer;
}

.menu-item:hover {
  color: var(--space-black);
  background-color: var(--credit-yellow);
}

.supermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.supermenu::after {
  float: right;
  font-weight: bold;
  font-size: 1.25rem;
}

.submenu {
  /* list-style-type: '\251C\2500'; */
  list-style-type: none;
}

.submenu:nth-last-child(1) {
  /* list-style-type: '\2514\2500'; */
  list-style-type: none;
}

.content {
  margin: auto;
}

.content-width {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  position: relative;
}

.full-width {
  width: 100%;
  position: relative;
}

.hero-slider {
  display: flex;
  overflow: hidden;
  /* position: relative; */
}

#slider {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  list-style: none;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.slide {
  width: 100%;
  max-height: 90vh;
  height: 100%;
  flex: 1 0 100%;
  /* background-size: cover;
  background-position: center;
  background-image: url('./images/hoth-valley.jpeg'); */
  /* background-color: var(--hyperspace-light-blue); */
}

/* .slide::before {
  position:absolute;
  left:0;
  top:0;
  background-size: cover;
  background-position: center;
  background-image: url('./images/hoth-valley.jpeg');
  filter: blur(8px);
  z-index: 100;
} */

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow-container {
  position: relative;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.star-container {
  height: 100%;
  overflow: hidden;
}

.booking-form {
  background-color: var(--r2d2-blue);
  color: white;
}

.booking-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.form-title {
  margin: 0;
  padding: 1rem 2rem 0 2rem;
  font-size: 2rem;
}

.booking-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.booking-fields > input {
  flex-grow: 2;
  padding: 0.125rem 0.25rem;
}

input[type='number'] {
  max-width: 40px;
}

.menu-button {
  color: white;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

#booking-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.circle {
  /* clip-path: circle(50px); */
  width: 250px;
  height: 250px;
  background-color: var(--hyperspace-light-blue);
  border-radius: 50%;
}

.icon::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.travel-arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.travel-arrow::after {
  content: '\2193';
  font: var(--fa-font-solid);
  color: var(--credit-yellow);
  font-size: 50px;
  font-weight: 900;
}

.travel-arrow2::after {
  content: '\2191';
  font: var(--fa-font-solid);
  color: var(--credit-yellow);
  font-size: 50px;
  font-weight: 900;
}

.full-width {
  width: 100%;
}

@keyframes starScroll {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-2100px);
  }
}

@keyframes flydown {
  from {
    transform: translateY(-100px);
    height: 0;
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    height: auto;
    opacity: 1;
  }
}

@keyframes flyup {
  from {
    transform: translateY(0px);
    height: auto;
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    height: 0;
    opacity: 0;
  }
}

@keyframes flyFromRight {
  from {
    transform: translateX(750px);
    /* height: 0; */
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    /* height: auto; */
    opacity: 1;
  }
}

@keyframes flyToRight {
  from {
    transform: translateX(0px);
    /* height: auto; */
    opacity: 1;
  }
  to {
    transform: translateX(750px);
    /* height: 0; */
    opacity: 0;
  }
}

@media screen and (min-width: 750px) {
  .header-menu {
    width: 500px;
    float: right;
    right: 0.5rem;
    top: 8.5rem;
    position: fixed;
  }

  .booking-fields {
    flex-direction: row;
  }

  .booking-fields > input {
    max-width: 50%;
  }

  .travel-arrow-container {
    flex-direction: column;
  }

  .travel-arrow::after {
    content: '\2192';
  }
  .travel-arrow2::after {
    content: '\2190';
  }

  #booking-summary {
    flex-direction: row;
  }
}
